@media(max-width :1440px){
    .time1::after,
    .time2::after,
    .tt1::after,
    .tt3::before { 
        width: 65.7%;
    }

    .section-join-time .circle {
        margin-top: 0;
    }
}

@media(max-width:1024px){
    .row{width: 90%;}
    .section-breif {
        height: 750px;
    }
    .time1::after,
    .time2::after, 
    .tt1::after, 
    .tt3::before {
        width: 83.7%;
    }
    .section-join img {
        margin-left: 0;
    }
    .section-life {
        height: 650px;
    }
}


@media(max-width:768px){
    header .row:nth-of-type(2) {
        flex-direction: column;
    }
    header .span-1-of-2,
    header div:nth-of-type(2) .span-1-of-2:nth-of-type(2) {
        width: 100%;
    }
    header h1 br:nth-of-type(1),
    header h1 br:nth-of-type(3){
        display: none;
    }
    header div:nth-of-type(2) p {
        width: 70%;
    }
    .section-features {
        height: 700px;
    }
    .section-features .span-1-of-3 {
        width: 46%;
        margin-left: 24px;
    }

    .section-breif {
        height: 900px;
        display: flex;
        flex-direction: column;
    }
    .section-breif .span-1-of-2:nth-of-type(1),
    .section-breif .span-1-of-2:nth-of-type(2) {
        height: 500px;
        width: 100%;
    }
    .time1::after,
    .time2::after, 
    .tt1::after, 
    .tt3::before {
        width: 86.7%;
    }
    .line_r {
        right: 89px;
    }
    .time3 {
        margin: 40px 40px 40px 70px;
    }
    p {
        padding: 18px 1px;
    }
    .section-domain {
        height: 950px;
    }
    .section-domain .col .span-1-of-5 {
        height: 140px;
    }
    .section-join .row:nth-of-type(1){
        width: 80%;
    }
    .section-join img {
        margin-left: 5%;
        width: 90%;
    }
    .tt2 {
        margin: 40px -75px 40px 70px;
    }
    .section-join-time .tt3 .info {
        margin-left: 184px;
    }
    .section-join-time .tt3 label {
        margin-left: 164px;
    }
    .section-join-time .tt3 label {
        margin-left: 164px;
    }
    .section-join-time {
        height: 550px;
    }
    .section-join-time .row:nth-of-type(3) p {
        margin-top: -54px;
        margin-left: 96px;
    }
    .section-join {
        height: 600px;
    }
    .time2 label {
        margin-left: 228px;
    }
    .tt1 label {
        margin-left: 254px;
    }
    .time2 .info {
        margin-right: -90px;
        margin-left: 74px;
    }
}
